?################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Windows/KeyRingBuddy/*/bin
/Windows/KeyRingBuddy/*/obj
/Windows/KeyRingBuddy/*.suo
/Windows/KeyRingBuddy/TestResults